#log{
    width: 70%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.find{
    width: 35%;
    height: 35px;
    display: flex;
}
.find img{
    width: 40%;
    height: 35px;
}
.find p{
    font-size: 15px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 25px;
}
#parking{
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}
#parking img{
    width: 28%;
    height: 250px;
    margin-left: 35%;
}
#parking h1{
    font-size: 40px;
    margin-left: 10%;
}
#parking p{
    margin-left: 7%;
    font-size: 19px;
    margin-top: -7px;
    margin-bottom: -0px;
    line-height: 25px;
}
#parking p1{
    margin-left: 40%;
    font-size: 19px;
    margin-top: -5%;
    line-height: 25px;
}
#parking button{
    width: 180px;
    height: 55px;
    margin-top: 30px;
    margin-left: 40%;
    font-size: 20px;
    color: orange;
    background-color: rgb(235, 209, 199);
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
}
#partner{
    width: 65%;
    height: 350px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
#partner .part{
    width: 48%;
    height: 350px;
}
#partner .part img{
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 10px 10px;
}
#partner .part p{
    color: rgb(110, 92, 92);
    line-height: 20px;
}
#small{
    width: 23%;
    height: 40px;
    margin-left: 53%;
    display: flex;
    margin-top: -3%;
    justify-content: space-between;
}
#small .box{
    width: 20%;
    height: 38px;
    display: flex;
}
#small .box img{
    width: 100%;
    height: 26px;
}
#net{
    width: 65%;
    height: 150px;
    margin: auto;
    margin-top: 80px;
}
#net .inc p{
    color: rgb(110, 92, 92);
    line-height: 25px;
}
#model{
    width: 67%;
    height: 500px;
    margin: auto;
    margin-top: -15px;
}
#model img{
    width: 100%;
    height: 500px;
}
#value{
    width: 67%;
    height: 100px;
    margin: auto;
    margin-top: 80px;
}
#value p{
    color: rgb(110, 92, 92);
    line-height: 25px;
}
#in{
    width: 70%;
    height: 270px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#in .on{
    width: 32%;
    height: 270px;
    border: 0.1px solid rgb(231, 225, 225);
    border-radius: 6%;
}
#in .on img{
    width: 50px;
    height: 50px;
    padding: 20px 15px;
}
#in .on h1{
    font-size: 20px;
    margin-top: -10px;
    margin-left: 15px;
}
#in .on p{
    margin-left: 15px;
    color: rgb(110, 92, 92);
    line-height: 25px;
}
#deal{
    width: 70%;
    height: 160px;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(240, 232, 232);
    cursor: pointer;
}
#deal .today{
    width: 100%;
    height: 160px;
    border: 1px solid rgb(240, 232, 232);
}
.today h1{
    font-size: 40px;
    margin-left: 28%;
}
.today p{
    color: rgb(110, 92, 92);
    margin-left: 24%;
    margin-top: -10px;
    line-height: 25px;
}
#public{
    width: 70%;
    height: 530px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
#public .park{
    width: 49%;
    height: 530px;
}
.park img{
    width: 100%;
    height: 380px;
    border-radius: 0px 0px 10px 10px;
}
.park h1{
    font-size: 25px;
}
.park p{
    color: rgb(110, 92, 92);
    line-height: 25px;
}
#data{
    width: 70%;
    height: 110px;
    margin: auto;
    margin-top: 120px;
}
#data h1{
    font-size: 40px;
}
#data p{
    color: rgb(110, 92, 92);
    margin-top: -10px;
    line-height: 25px;
}
#real{
    width: 70%;
    height: 270px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#real .time{
    width: 32%;
    height: 270px;
    border: 0.1px solid rgb(231, 225, 225);
    border-radius: 6%;
}
.time img{
    width: 50px;
    height: 50px;
    padding: 20px 15px;
}
.time h1{
    font-size: 20px;
    margin-top: -10px;
    margin-left: 15px;
}
.time p{
    margin-left: 15px;
    color: rgb(110, 92, 92);
    line-height: 25px;
}
#big{
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    margin-top: 40px;
}
#big .box{
    width: 24%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5%;
    background-color: rgb(221, 221, 235);
}
.box p{
    font-size: 19px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#big :nth-child(2){
    background-color: white;
}
#big :nth-child(3){
    background-color: white;
}
#img{
    width: 66%;
    height: 600px;
    margin: auto;
    margin-top: 30px;
}
#img img{
    width: 100%;
    height: 100%;
}
#top{
    width: 70%;
    height: 100px;
    margin: auto;
    margin-top: 8%;
}
#top h1{
    font-size: 35px;
    font-style: bold;
}
#top p{
    color: rgb(110, 92, 92);
    margin-top: -10px;
}
#logo{
    width: 70%;
    height: 60px;
    margin: auto;
    display: flex;
}
#logo .clogo{
    width: 33%;
    height: 60px;
}
.clogo img{
    width: 80%;
    margin-left: 20%;
}
#logo .clogo img:nth-child(1){
    height: 50px;
    width: 200px;
}